.container {
  border: 5px solid #ffcc5c;
  display: flex;
  flex-direction: row; /* in direction of main axis / horizontal */
  // flex-direction: column; /* in direction of cross axis / Verticle */
}
